<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/killer.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/js/killer.js" defer></script>
    <script src="../static/js/base.js" defer></script>
    <title>Clue - 1</title>
  </head>
  <body>
    <header class="main-header">
      <div class="temp-div">
        <img src="../static/images/logo-1.png" alt="logo-1" />
      </div>
      <div class="title-div">
        <h1>Clue Collector</h1>
      </div>
      <div class="logo-div">
        <img src="../static/images/logo.png" alt="logo" />
      </div>
    </header>
    <nav class="navbar sudoku">
      <div>
        <button class="button-82-pushable" role="button" id="home-button">
          <span class="button-82-shadow"></span>
          <span class="button-82-edge"></span>
          <span class="button-82-front text"> Home </span>
        </button>
      </div>
    </nav>
    <main class="killer-main">
      <div class="text-div">
        <div class="errors">
            <h3>Errors :</h3>
            <h3 id="error-count">&nbsp; 0</h3>
        </div>
        <div class="title-div">
            Who killed the person in the room ?
        </div>
        <div class="options">
            <div class="option-1">
                <button id="person-1"  class="button-29" role="button">Person 1</button>
            </div>
            <div class="option-2">
                <button id="person-2" class="button-29" role="button">Person 2</button>
            </div>
            <div class="option-3">
                <button id="person-3" data-bs-toggle="popover" data-bs-title="Solution"  data-bs-placement="top" class="button-29 btn" data-bs-content="- Well, firstly, the blood stains are on the right side of the victim, indicating the killer attacked him from the left and is most likely left-handed.

                - The cashier lady is typing with her right hand, and the customer is paying with his right hand. These acts are mostly performed with the dominant hand, so we can conclude that the pair are right-handed.
                
                - Plus, the man is wearing a cast on his right hand, which could be the perfect place to conceal a weapon.
                
                - He is also sorting through shirts and coats, even though he can’t wear or try them on without removing his cast.
                
                Hence, the killer is the Man Wearing the Cast." type="button" role="button">Person 3</button>
            </div>
        </div>
      </div>
      <div class="image-div">
        <img class="killer-image" src="../static/images/killer.png" alt="image">
      </div>
    </main>
  </body>
</html>
